.App{
  background-color: black;
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  height: 900px;

}
h1{
  font-weight: lighter;
}

.nav{
  display: flex;
  justify-content: space-between;
}
.about{
  display: flex;
  justify-content: space-between;
  width: 250px;
}
a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  margin-top: 30px;
}
.contact{
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  margin-top: 30px;
  border-style: double ;
  border-block-color: white;
  
}
.hero{
  display: flex;
  
}
h2{
  font-size: 70px;
  font-weight: lighter;

}

.text{
  width: 50%;
  margin-right: 50px;
}

h4{
  font-size: 30px;
  font-weight: lighter;
}
.request-btn{
  height: 50px;
  width: 150px;
  background-color: aqua;
  color: black;
  margin-top: 30px;
  border-style: double ;
  border-block-color: white;
}
hr{
  margin-top: 100px;
}