.App{
  background-color: black;
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  height: auto;
  
}
h1{
  font-weight: lighter;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.brandName{
  height: 60px;
}
.about{
  display: flex;
  justify-content: space-between;
  width: 250px;
}
a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}
.contact{
  margin-top: 0px;
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  margin-top: 30px;
  border-style: double ;
  border-block-color: white;
  
}
.home{
  display: flex;
  justify-content: space-between;
  
}
h2{
  font-size: 70px;
  font-weight: lighter;

}

.text{
  width: 50%;
  margin-right: 50px;
}

h4{
  font-size: 30px;
  font-weight: lighter;
}
.request-btn{
  height: 50px;
  width: 150px;
  background-color: aqua;
  color: black;
  margin-top: 30px;
  border-style: double ;
  border-block-color: white;
}


.footer{
  margin-top: 100px;
  width: auto;
  background-color: aqua;

}

.foot-img{
  display: flex;
  justify-content: center;
}

.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: chartreuse;
    padding-right: 10px;
    padding-left: 10px;
    height: 60px;
}

.demo-page{
 height: 500px;
 display: flex;
 justify-content: center;
 align-items: center;
}


.text-container {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #000; /* Add a blinking cursor effect */
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-size: 24px; /* Adjust the font size as desired */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
